<div class="p-2 pt-6 mx-auto mt-12 overflow-hidden bg-white shadow-md max-w-7xl rounded-xl">
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-base font-semibold leading-6 text-gray-900">PERMISSION ROLE TO PERMISSION MAPPING</h1>
        <p class="mt-2 text-sm text-gray-700">Bearbeiten Sie ihre Permissions</p>
      </div>
      <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
        <!-- <label for="all">
          Check all
          <input id="all" class="ml-2 scale-150 cursor-pointer" (change)="toggleAll($event)" type="checkbox" />
        </label> -->

        <button (click)="onSaveClick()" class="px-4 py-2 ml-2 text-sm font-medium text-white bg-blue-600 rounded-md hover:bg-blue-500 focus:outline-none">Save</button>
      </div>
    </div>
    <div class="flow-root mt-8">
      <div class="max-h-[80vh] overflow-x-auto">
        <table class="min-w-full border-separate border-spacing-0">
          <thead>
            <tr>
              <th scope="col" class="sticky top-0 z-10 border-b border-gray-300 bg-white px-3 py-3.5 text-left text-xs font-semibold text-gray-900"><div class="w-5 h-5 overflow-visible">NAME</div></th>
              <th *ngFor="let item of matrixData[0].xOptions" scope="col" class="sticky top-0 z-10 border-b border-gray-300 bg-white px-3 py-3.5 text-left text-xs font-semibold text-gray-900"><div class="w-5 h-5 overflow-visible -rotate-45">u_read</div></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of matrixData; let i = index" [class.bg-blue-100]="i + 1 === hoveredRow">
              <td class="px-3 py-4 text-sm text-gray-500 border-b border-gray-200 sm:table-cell">{{row.yName}}</td>
              <td *ngFor="let option of row.xOptions; let colIndex = index" [class.bg-blue-100]="colIndex + 1 === hoveredColumn" class="px-3 py-4 text-sm text-gray-500 border-b border-gray-200">
                <div class="flex items-center justify-center">
                  <input [(ngModel)]="option.value" class="scale-150 cursor-pointer" type="checkbox" />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
